.article {
  padding: 2em;
}

.article--light {
  background-color: var(--dark-super-light);
}

.article__inner {
  padding: 2em;
}

@media (max-width: 800px) {
  .ariticle {
    padding: 1em;
  }
  .article__inner {
    padding: 1em;
  }
}

.article__warning {
  color: var(--secondary-dark);
}

.article__title,
.article__description {
  display: flex;
  justify-content: center;
}

.article__edit-button {
  display: flex;
  justify-content: center;

  a {
    padding: 0.5em 2em;
    color: var(--light);
    background-color: var(--primary-dark);
    text-decoration: none;
  }
}

.article {
  pre {
    padding: 1em;
    background-color: var(--dark-light);
  }
}
