.article {
  padding: 1em 0;
  background-color: var(--terciary);
}

.article_dates {
  text-align: center;
  color: var(--septenary);
  font-size: 0.8em;
}

.article__inner {
  padding: 2em 12em;
  background-color: var(--quaternary);
  color: var(--septenary);
  border: 0.1em solid var(--secondary);
  border-left: 0;
  border-right: 0;

  h1 {
    text-align: center;
    margin: 2em 0;
  }

  h1,
  h2,
  h3 {
    margin-top: 2em;
    color: var(--senary);
  }

  blockquote {
    color: var(--septenary);
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
  }

  a {
    color: var(--secondary);

    &:visited {
      color: var(--octonary);
    }
  }
}

@media (max-width: $middle-big-screen) {
  .article__inner {
    padding: 1em 6em;
  }
}

@media (max-width: $middle-screen) {
  .article {
    padding: 1em 0;
  }
  .article__inner {
    padding: 1em;
  }
}

.article__warning {
  color: var(--quinary);
}

.article__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: var(--quinary);
}

.article__description {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--secondary);
  margin-bottom: 2em;
}

.article__content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  pre {
    white-space: pre-wrap;
  }
}

// for the first img of the article
.article__content > img:first-of-type {
  width: 100%;
}

.article__edit-button {
  display: flex;
  justify-content: center;

  a {
    padding: 0.5em 2em;
    color: var(--quinary);
    background-color: var(--secondary);
    text-decoration: none;
  }
}

.article {
  pre {
    margin: 2em 0;
    padding: 1em;
    background-color: var(--terciary);
  }
}
