@import 'draft-js/dist/Draft.css';

.RichEditor-root {
  background: var(--senary);
  border: 0.05em solid var(--septenary);
  font-family: var(--font-family);
  font-size: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.RichEditor-editor {
  font-size: 1em;
  border-top: 0.05em solid var(--septenary);
  cursor: text;
  font-size: 1em;
  margin-top: 1em;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 10em;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid var(--senary);
  color: var(--septenary);
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 1em 0;
  padding: 0.5em 1.5em;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: var(--quaternary);
  color: var(--senary);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 0.8em;
  padding: 1.5em;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  margin-bottom: 0.5em;
  user-select: none;
}

.RichEditor-styleButton {
  color: var(--septenary);
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: var(--secondary);
}
