.card {
  background-color: #111216;
  margin-bottom: 0.5em;
  border-radius: 1em;
  padding: 1em 3em;
  border: .05em solid var(--dark-middle);
  transition: all .1s ease-in-out;

  &:hover {
    border: .1em solid #1890FF;
    transform: scale(101%);
  }

  a {
    text-decoration: none;
  }
}

.card__title,
.card__text,
.card__date {
  color: white;
  margin: 1em 0;
}

.card__text {
  color: #A4ACB6;
}

.card__date {
  display: inline-block;
  font-size: 0.7em;
  padding: 0.4em 0.6em;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.2em;
}
