.home {
  .main {
    display: flex;

    .articles {
      flex-grow: 3;
    }

    aside {
      flex-grow: 1;
    }
  }
}

.articles {
  flex-grow: 3;
  background-color: var(--terciary);
}

.articles__list {
  max-width: 80%;
  margin: auto;
  padding: 0;
}

@media (max-width: $middle-big-screen) {
  .articles__list {
    max-width: 100%;
  }
}

.articles__message-default {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  color: var(--primary);
}
