.article-form {
  background-color: var(--terciary);
}

.article-form__message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  color: var(--secondary);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2em;

  label {
    color: var(--quinary);
  }
}

.form__input {
  font-size: inherit;
  padding: 1em;
  margin-bottom: 1em;
  cursor: text;
}

.form__input--small {
  max-width: 15em;
}

.form__submit--hidden {
  display: none;
}

.form__submit--sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 5;
}

.form__submit {
  font-family: var(--font-family);
  font-size: 1em;
  background-color: var(--primary);
  color: var(--senary);
  padding: 1em 2em;
  border: 0;
  max-width: 100%;
  cursor: pointer;
}

.form__message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--quinary);
}
