.header {
  display: flex;
  width: 100%;
  background-color: green;
  justify-content: space-between;

  .header__img {
    max-height: 100px;
    padding: 10px;
  }

  .header__items {
    display: flex;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0px 20px;
    color: white;
  }
}
