.header {
  background-color: var(--dark);
}

.header__inner {
  display: flex;
  padding: 0.8em;
  border-bottom: 0.2em solid var(--primary);
}

.header__inner > a:first-child {
  display: flex;
  align-items: center;
}

.header__icon {
  width: 100%;
  min-width: 30px;
  max-width: 60px;
}

.header__items {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  a,
  .button {
    padding: 1em;
    color: var(--senary);
    text-decoration: none;
    font-weight: 600;
  }
}

.header__logout {
  color: var(--senary);
  font-size: 1em;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family);
  cursor: pointer;
}

@media (max-width: $small-screen) {
  .header__icon {
    display: none;
  }
  .header__items {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
