:root {
    --primary: #960004;
    --secondary: #007671;
    --primary-light: #fd5f63;
    --secondary-light: #43b1ad;
    --primary-dark: #470002;
    --secondary-dark: #004744;
    --light: #fff;

    --font-family: 'Roboto';
}